<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <meta charset="UTF-8">
    <title>Biko's Billboard</title>
</head>
<body>
{% block body %}
<div class="login-page">

  <div class="form">
      <!--<p id="hellouser">Hello {{ request.user }} !</p>-->

      <h2>Billboard</h2>
      {% if form.errors %}
          <p><strong>The Username / Password you entered are wrong.</strong></p>
          <p><strong>Please try again or <a href="/board/register">Register now</a>.</strong></p>
          <br>
      {% endif %}
        <form class="login-form" role="form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {% include 'board/form-template.html' %}
            <button type="submit" class="btn btn-success">Submit</button>
            <div class="social-logos">
                <a href="{% url 'social:begin' 'github' %}"><img src="{% static 'images/github.png' %}" title="GitHub" alt="GitHub"></a><br>
                <a href="{% url 'social:begin' 'twitter' %}"><img src="{% static 'images/twitter.png' %}" title="Twitter" alt="Twitter"></a><br>
            </div>
            <p class="message">Not registered? <a href="/board/register">Create an account</a></p>
        </form>
  </div>
</div>
{% endblock %}
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/082397c0ed.js' %}"></script>
<script src="{% static 'js/javascript.js' %}"></script>
</html>