<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <meta charset="UTF-8">
    <title>Biko's Billboard</title>
</head>
<body>
{% block body %}

<div class="login-page">
    <div class="form">
        <h2>Billboard</h2><br>
        <form class="register-form" role="form" action="" method="post">
            {% csrf_token %}
            {% include 'board/form-template.html' %}
            <button type="submit" class="btn btn-success">Submit</button>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
        </form>
  </div>
</div>
{% endblock %}
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/082397c0ed.js' %}"></script>
<script src="{% static 'js/javascript.js' %}"></script>
</html>